html,body {
  scroll-behavior: smooth;
}

body {
    font: 14px/1.5 Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
    color: #333;
    background-color: #fff;
    min-width: 1226px;
    margin: 0 ;
}
a {
    color: #757575
}
a a:hover{
  text-decoration: none;
}
a:hover {
    color: #ff6700
}

ul {
  list-style: none;
}

img {
  border: 0;
}

* {
  box-sizing: border-box;
}